#openRiotNav {
	margin-left: 6px;
	cursor: pointer;
}

.closeRiot {
	margin: 2px 3px 0 0;
	float: right;
	content: "\2716";
	font-size: 9px;
	font-weight: bold;
	cursor: pointer;
	color: white;
	opacity: .3;
	text-indent: 0;
}

.closeRiot:hover {
	opacity: .8;
}

.counterRiot {
	width : 50px;
	height : 40px;
	margin : 0px auto 0px auto;
	color : white;
	text-align : center;
	line-height : 37px;
}

.downRiot {
   width: 40px;
   height: 40px;
   margin : 0px auto 0px auto;
   position: relative;
   overflow: hidden;
}

.downRiot:after {
   content: "";
   position: absolute;
   width: 20px;
   height: 20px;
   background: linear-gradient(to bottom right, rgb(119, 101, 3), rgb(224, 189, 3));
   transform: rotate(45deg);
   bottom: 30px;
   left: 10px;
   cursor: pointer;
}

.downRiot.changed:after {
	background: linear-gradient(to bottom right, rgb(224, 189, 3), rgb(119, 101, 3));
}

.navAlert {
	display: none;
	position: relative;
	bottom: 21px;
	left: 8px;
	color: white;
	font-size: 8px;
}

.riotNav {
	z-index: 999;
	position: fixed;
	background-color : #2F4F4F;
	top : 215px;
	right : 450px;
	width : 100px;
	height : 100px;
	border : 2px solid rgb(224, 189, 3);
	opacity: 0.1;
	-webkit-transition : opacity 0.5s, box-shadow 0.5s;
}

.riotNav:hover {
	opacity: 1;
	box-shadow: 4px 4px 1px rgb(133, 128, 128);
}

.upRiot {
	width: 40px;
	height: 20px;
	margin-top: 8px;
	left: 30px;
	position: relative;
	overflow: hidden;
}
.upRiot:after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background: linear-gradient(to top left, rgb(119, 101, 3), rgb(224, 189, 3));
	transform: rotate(45deg);
	top: 10px;
	left: 10px;
	cursor: pointer;
}

.upRiot.changed:after {
	background: linear-gradient(to top left, rgb(224, 189, 3), rgb(119, 101, 3));
}